*:focus {
    outline: none !important;
}
@font-face {
    font-family: "HPSimplifiedLight";
    src: url("../font/HPSimplified_Lt.ttf")
}
.fnf-int-mod-cont {
    position: relative;
    background: #fff;
    display: block;
    transition: height 300ms ease;
    font-family: 'HPSimplifiedLight';
    overflow: hidden;
    height: auto !important;
}
.fnf-int-mod-cont.opened {
    z-index: 200;
}

.fnf-int-mod-cont.opened .stage {
    position: initial;
    display: inline;
    width: 100%;
    margin: 0 auto;
    transition: all 300ms ease;
    will-change: all;
}

.fnf-opened-bg {
    opacity: 0;
    background: #ffffff;
    transition: opacity 300ms ease-in-out;
    z-index: -100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.fnf-opened-bg.opened {
    opacity: 1;
    z-index: 100;
    overflow: hidden;
    height: 100%;
}

.overlay-lock {
    overflow: hidden;
}

.white-overlay {
    background-color: #ffffff;
    position: absolute;
    -webkit-transition: opacity 300ms linear, z-index 500ms step-start;
    -moz-transition: opacity 300ms linear, z-index 500ms step-start;
    -ms-transition: opacity 300ms linear, z-index 500ms step-start;
    -o-transition: opacity 300ms linear, z-index 500ms step-start;
    transition: opacity 300ms linear, z-index 500ms step-start;
    z-index: 5000;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 1;
}

#fnf-module-x2 .no-scroll,
#fnf-module-x2 .mobile-no-scroll {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 1000;
}
#fnf-module-x2 .anim {
    -webkit-transition: opacity 300ms linear, z-index 500ms step-start;
    -moz-transition: opacity 300ms linear, z-index 500ms step-start;
    -ms-transition: opacity 300ms linear, z-index 500ms step-start;
    -o-transition: opacity 300ms linear, z-index 500ms step-start;
    transition: opacity 300ms linear, z-index 500ms step-start;
}
#fnf-module-x2 .ghost {
    opacity: 0 !important;
    z-index: -50 !important;
    -webkit-transition: opacity 300ms linear, z-index 500ms step-end;
    -moz-transition: opacity 300ms linear, z-index 500ms step-end;
    -ms-transition: opacity 300ms linear, z-index 500ms step-end;
    -o-transition: opacity 300ms linear, z-index 500ms step-end;
    transition: opacity 300ms linear, z-index 500ms 500ms step-end;
}

.fnf-int-mod {
    display: block;
    margin: 0 auto;
    max-width: 1280px;
    max-height: 720px;
    overflow: hidden;
    position: relative;
    color: #fff;
}

#fnf-module-x2 .stage {
    width:100%;
    z-index: 50;
}
#fnf-module-x2 .stage img {
    width: 100%;
    height: auto;
}
.fnf-int-mod-cont .copy {
    position: absolute;
    z-index: 4000;
    padding: 0;
    margin: 0 auto;
    display: block;
    transition: opacity 300ms ease, top 300ms ease, z-index 300ms ease 300ms;
    opacity: 1;
    width: 100%;
    height: 100%;
    top: 0;
}

.fnf-int-mod-cont .copy.inner {
    pointer-events: none;
    background-color: transparent;
}

.fnf-int-mod-cont .copy.inner .zoom {
     pointer-events: auto;
 }

.fnf-int-mod-cont .copy h2 {
    color: #0096D6;
    margin-bottom: 2vw;
    font-weight: normal;
    font-size: 3vw;
    line-height: 4vw;
}

.fnf-int-mod-cont .copy h3 {
    font-weight: normal;
}

.fnf-int-mod-cont .copy.inner p.text-block {
    margin-bottom: 7vw;
    font-size: 1.25vw;
    line-height: 2.15vw;
}



.fnf-int-mod-cont .copy-cont {
    position: absolute;
    width: 100%;
}

.fnf-int-mod-cont a.zoom {
    position: absolute;
    font-weight: bold;
    /*text-shadow: 1px 1px 0 rgba(255,255,255,.5);*/
}

.fnf-int-mod-cont .copy-intro {
    transition: none;
    background-image: url('../img/main/img-00000.jpg');
    background-size: cover;
    background-position: center;
}

.fnf-int-mod-cont .copy-intro .copy-cont {
    max-width: 60vw;
    left: 6vw;
    top: 6vw;
    font-size: 1.5vw;
    line-height: 1.85vw;
}

.fnf-int-mod-cont .copy-intro .copy-cont a {
    margin-top: 10vw;
    padding: 1vw 4vw;
}
.fnf-int-mod-cont .copy-intro .copy-cont a > span {
    font-size: 1.25vw;
}

.fnf-int-mod-cont .copy-intro h2 {
    color: #222222;
    margin-bottom: 2%;
}

.fnf-int-mod-cont .copy-0 .copy-cont {
    max-width: 32vw;
    left: 10vw;
    top: 7.5vw;
}

.fnf-int-mod-cont .copy-0 h3 {
    font-size: 2vw;
    margin-bottom: 2.5vw;
}

.fnf-int-mod-cont .copy-0 .onward {
    pointer-events: auto;
}

.fnf-int-mod-cont .copy-1 .copy-cont {
    max-width: 50vw;
    left: 25vw;
    top: 13vw;
}

.fnf-int-mod-cont .copy-2 .copy-cont {
    max-width: 28vw;
    left: 20vw;
    top: 24vw;
}

.fnf-int-mod-cont .copy-3 .copy-cont {
    max-width: 28vw;
    right: 21vw;
    top: 13vw;
}

.fnf-int-mod-cont .copy .zoom {
    width: 19.5vw;
    height: 19.5vw;
    display: block;
    text-align: center;
    border-radius: 19.5vw;
}

.fnf-int-mod-cont .copy-1 .zoom {
    top: 74%;
    left: -2.5%;
}

.fnf-int-mod-cont .zoom .deeper-look {
    margin-top: 4vw;
    font-size: 1vw
}

.fnf-int-mod-cont .copy-1-1 .copy-cont {
    max-width: 40vw;
    left: 55vw;
    top: 36vw;
}

.fnf-int-mod-cont .copy-4 .copy-cont {
    max-width: 31vw;
    left: 38vw;
    top: 25vw;
}

.fnf-int-mod-cont .copy-4 .zoom {
    top: 27%;
    left: 51.25%;
}

.fnf-int-mod-cont .copy-4-1 .copy-cont {
    max-width: 32vw;
    left: 12vw;
    top: 14vw;
}

.fnf-int-mod-cont .copy-5 .copy-cont {
    max-width: 31vw;
    left: 52vw;
    top: 20vw;
}

.fnf-int-mod-cont .copy-5 .zoom {
    top: 62.5%;
    left: 33.5%;
}

.fnf-int-mod-cont .copy-5-1 .copy-cont,
.fnf-int-mod-cont .copy-5-2 .copy-cont,
.fnf-int-mod-cont .copy-5-3 .copy-cont,
.fnf-int-mod-cont .copy-5-4 .copy-cont {
    max-width: 36vw;
    left: 52vw;
    text-align: right;
}

.fnf-int-mod-cont .copy-5-1 .copy-cont h2,
.fnf-int-mod-cont .copy-5-2 .copy-cont h2,
.fnf-int-mod-cont .copy-5-3 .copy-cont h2,
.fnf-int-mod-cont .copy-5-4 .copy-cont h2 {
    font-size: 2.25vw;
    margin-bottom: .75vw;
}

.fnf-int-mod-cont .copy-5-1 .copy-cont hr,
.fnf-int-mod-cont .copy-5-2 .copy-cont hr,
.fnf-int-mod-cont .copy-5-3 .copy-cont hr,
.fnf-int-mod-cont .copy-5-4 .copy-cont hr {
    width: 100%;
    border: none;
    float: right;
    display: block;
    border-top: 2px solid #627077;
    padding-bottom: .75vw;
    -webkit-transition: width 500ms ease-in-out 300ms;
    -moz-transition: width 500ms ease-in-out 300ms;
    -ms-transition: width 500ms ease-in-out 300ms;
    -o-transition: width 500ms ease-in-out 300ms;
    transition: width 500ms ease-in-out 300ms;
    clear-after: both;
}

/*.fnf-int-mod-cont .copy-5-1 .copy-cont hr:after,*/
/*.fnf-int-mod-cont .copy-5-2 .copy-cont hr:after,*/
/*.fnf-int-mod-cont .copy-5-3 .copy-cont hr:after,*/
/*.fnf-int-mod-cont .copy-5-4 .copy-cont hr:after {*/
    /*clear-after: both;*/
/*}*/

.fnf-int-mod-cont .copy-5-1 .ghost > hr,
.fnf-int-mod-cont .copy-5-2 .ghost > hr,
.fnf-int-mod-cont .copy-5-3 .ghost > hr,
.fnf-int-mod-cont .copy-5-4 .ghost > hr {
    width: 0
}

.fnf-int-mod-cont .copy-5-1 .copy-cont p,
.fnf-int-mod-cont .copy-5-2 .copy-cont p,
.fnf-int-mod-cont .copy-5-3 .copy-cont p,
.fnf-int-mod-cont .copy-5-4 .copy-cont p {
    max-width: 30vw;
    float: right;
}

.fnf-int-mod-cont .copy-5-1 .copy-cont {
    top: 24vw;
}

.fnf-int-mod-cont .copy-5-2 .copy-cont {
    top: 14vw;
}

.fnf-int-mod-cont .copy-5-3 .copy-cont {
    top: 21vw;
}

.fnf-int-mod-cont .copy-5-4 .copy-cont {
    top: 28vw;
}

.fnf-int-mod-cont .copy-6 .copy-cont {
    max-width:26vw;
    left: 8vw;
    top: 11vw;
}

.fnf-int-mod-cont .copy-6 .zoom {
    top: 81.5%;
    left: 222.5%;
}

.fnf-int-mod-cont .copy-6-1 .copy-cont {
    max-width: 39vw;
    left: 50vw;
    top: 25vw;
}

.fnf-int-mod-cont .copy-7 .copy-cont {
    max-width: 27vw;
    left: 54vw;
    top: 7vw;
 }

.fnf-int-mod-cont .copy-8 .copy-cont {
    max-width: 30vw;
    left: 51vw;
    top: 7vw;
 }

.fnf-int-mod-cont .copy-7 h2,
.fnf-int-mod-cont .copy-8 h2 {
    white-space: nowrap;
}

.fnf-int-mod-cont .copy-7 ul,
.fnf-int-mod-cont .copy-8 ul {
    margin-left: 3vw
}

.fnf-int-mod-cont .copy-7 li,
.fnf-int-mod-cont .copy-8 li {
    list-style: disc;
    padding-bottom: 1vw;
    font-size: 1.15vw;
    line-height: 2.25vw;
}

.fnf-int-mod-cont .copy-9 h1 {
    top: 3vw;
    font-weight: normal;
    position: absolute;
    width: 100%;
}

.fnf-int-mod-cont .copy-9 .copy-cont {
    max-width:32vw;
    top: 12vw;
}

.fnf-int-mod-cont .copy-9 .cont-left {
    left: 10vw;
}

.fnf-int-mod-cont .copy-9 .cont-right {
    right: 15vw;
}

.fnf-int-mod-cont .copy-9.inner h2 {
    font-size: 2.25vw;
    margin-bottom: 1vw;
}

.fnf-int-mod-cont .copy-9.inner a,
.fnf-int-mod-cont .copy-9.inner p.text-block {
    margin-top: 0;
    margin-bottom: 1vw;
}

.fnf-int-mod-cont .copy-9.inner p.text-block {
    color: #0096D6;
    font-size: 1.5vw;
}

.fnf-int-mod-cont .copy-9.inner a {
    pointer-events: auto;
    color: #767676;
    text-decoration: underline;
    font-size: 1.2vw;
}

#image-reel {
    width: auto;
    height: auto;
}


.fnf-int-mod-cont .buttons {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 10vw;
    padding-right: 1vw;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column nowrap;
    flex-flow: column nowrap;
    justify-content: center;
    z-index: 500;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    color: #0096D6;
    cursor: url('icon.ico'),ns-resize;
    pointer-events: none;
    will-change: transform;
}

.fnf-int-mod-cont .buttons a,
.fnf-int-mod-cont .buttons a:after {
    pointer-events: auto;
}
.fnf-int-mod-cont .buttons a:after {
    left: 50%;
    top: 50%;
    margin-top: 10px;
    content: '';
    width: .75vw;
    height: .75vw;
    display: inline-block;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    background-color: #989898;
    background-opacity: .75;
    border-radius: 50%;
    border: 1px solid transparent;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    -webkit-transition: width .3s, height .3s, background .3s, border .3s;
    transition: width .3s, height .3s, background .3s, border .3s;
    transform-origin: center center;
    -webkit-transform-origin: center center;
    color: #0096D6;
}

.fnf-int-mod-cont .buttons a:hover:after {
    height: 14px;
    width: 14px;
}

.fnf-int-mod-cont .buttons a span {
    display: block;
    left: 3vw;
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
    width: 80px;
    color: #0096D6;
    white-space: nowrap;
    font-size: 1vw;
}

.fnf-int-mod-cont .buttons a.selected span {
    opacity: 1;
}

.fnf-int-mod-cont .marker {
    color: #0096D6;
    width: 100%;
    height: 1.5vw;
    display: block;
    cursor: pointer;
    z-index: 200;
    position: relative;
    padding: 6px 6px 6px 1.75vw;
}

.fnf-int-mod-cont .buttons a.selected:after {
    width: 1vw;
    height: 1vw;
    background: rgba(255,255,255,0);
    border: 1px solid;
    border-color: #0096D6;
}

.fnf-int-mod-cont .marker-start span {
    margin: 0;
}
.fnf-int-mod-cont .marker-start,
.fnf-int-mod-cont .marker-last {
    margin-left: -.85rem;
}

.close-fnf {
    position: absolute;
    z-index: 600;
    height: 2.5vw;
    width: 2.5vw;
    text-align: center;
    top: 20px;
    right: 20px;
    cursor: pointer;
    opacity: .5;
    -webkit-transition: opacity 300ms ease;
    transition: opacity 300ms ease;
    background-image: url(./close-overlay.png);
    background-size: 2.5vw 2.5vw;
    background-position: center;
}
.close-fnf:hover {
    text-decoration: none;
    opacity: 1;
}
.close-fnf:visited {
    color: inherit;
}

.fnf-int-mod-cont .scroll-on {
    z-index: 600;
    height: 2.5vw;
    width: 2.5vw;
    margin: 0 auto;
    background-image: url(./scroll-on.png);
    background-size: 2.5vw 2.5vw;
    background-position: center;
}

.fnf-int-mod-cont .zoom-reel {
    position: absolute !important;
    top: 0;
}

#fnf-module-x2 .reel-preloader {
    /*display: none !important;*/
    background: #0096D6 !important;
}
